module.exports = {
  mongodb: {
    uri: 'mongodb://localhost/database'
  },
  slack: {
    url: 'myslackteam.slack.com',
    token: 'xoxoa-my-slack-token'
  },
  coc: {
    token: 'verylongstring'
  },
  clan: {
    tag: '#UCLN74G'
  }
}